/* coloureg custom styles */

.brand-text {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 300;
}

.brand-text strong {
    font-weight: 800;
}

.navbar-brand i {
    vertical-align: baseline;
}

.navbar-brand .brand-text {
    vertical-align: baseline;
}

.navbar-transparent {
    background: transparent !important;
}

.footer-transparent {
    background: transparent !important;
}